body{
    background-color: grey;
}

.transaction-display{
    padding-top: 30px;

   
}

.title{
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid;
}

.card{
    border-radius: 20px;
    margin-top: 20px;
}